{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Acceuil </h1>
    </div>

  <div class="container">
      <div>
          <div class="card ">
              <div class="text-center ">
                
                  <div class=" ">
                      <p class="h3 mb-0 text-gray-800">
                          Bienvenu administrateur 
                          <hr>
                      </p>
                      <div class="my-3 p-4 ">
                        <a href="{{ path('produit.new',{id: app.user.id}) }}" class="btn btn-danger">Contactant</a>
                        <a href="{{ path('admin.contact') }}" class="btn btn-success">Nouveau produit</a>
                        <a href="{{ path('commande.list') }}" class="btn btn-warning">Commende</a>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="row">

       
{% endblock %}
